.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;

  &__list {
    display: grid;
    // 完美容纳图片  不让文字换行
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    // 大屏时,这块内容不会缩在中间
    grid-row-gap: 5vh;
    align-items: center;
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    // 文字上移
    margin-top: -3px;
  }
}
